.container {
  background-image: url("./Corgi-4.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.details {
  width: 40rem;
  align-items: center;
  margin: auto;
  background-color: rgba(158, 148, 139, 0.55);
  border: 5px solid rgba(2, 46, 70, 0.8);
  border-radius: 15px;
  color: rgb(10, 10, 10);
}

.imagen_details {
  border: 5px solid rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  height: 27rem;
  width: 30rem;
}
.return-detail {
  position: relative;
  width: 20%;
  height: 50px;
  background-image: linear-gradient(
    to bottom right,
    rgba(33, 59, 110, 0.8),
    rgba(93, 152, 247, 0.8)
  );
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  box-shadow: 0px 10px 20px rgba(150, 50, 50, 0.2);
}
.return-detail:active{
  transform: translateY(4px);
}

@media (max-width: 390px) {
  .details {
    flex-direction: column;
    width: auto;
    height: auto;
  }
  .imagen_details {
    height: 12rem;
    width: 15rem;
  }
  .return-detail {
    width: 100%;
    left: auto;
  }
}

@media (max-width: 360px) {
  .imagen_details {
    height: 9rem;
    width: 12rem;
  }
}
